

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr class="table-active">
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td>{{this.city}}</td>
      <td><a href="/del/{{this.id}}" class="btn btn-danger">Delete</a></td>
      <td><a href="/update/{{this.id}}" class="btn btn-info">Update</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>